 <!-- Navigation -->
 {% load static %}

<nav class="navbar navbar-expand-lg navbar-dark">
         <a class="navbar-brand" href="#">
             <img src="{% static 'vendor/img/logo2.png'}" alt="">
          </a>
        
    <div class="collapse navbar-collapse nav" id="navbarSupportedContent">
        <ul class="navbar-nav w-100 ml-auto">
                
        <li class="nav-item ml-auto">
             <a class="nav-link" href="/">Home</a>
        </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Tabela</a>
             </li>
              <li class="nav-item">
                 <a class="nav-link" href="#">Relatórios</a>
                </li>
                
                
             <li class="nav-item">
                <a class="nav-link" href="#">Sair</a>
                </li>
         </ul>        
    </div>
</nav>